<html lang="en">
<head>
  <title>Our Story</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/reset.css">
 <!--  <link rel="stylesheet" href="/static/css/skeleton.css"> -->
  <link rel="stylesheet" href="/static/css/new.css">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/stellar.js"></script>
  <script src="/static/js/profile.js"></script>
</head>

<body>
<!--==============================
              header
=================================-->
<div class="bHeader opaq">
  <div class="container">
    <a class="bHeader__logo" href="/"></a>
    <!-- <a class="bHeader__navItem opaq uppercase" href="/users/service">what we offer</a>
    <a class="bHeader__navItem opaq uppercase" href="/users/menu">menu</a>
    <a class="bHeader__navItem opaq uppercase" href="/users/sources">sources</a>
    <a class="bHeader__navItem opaq uppercase" href="/users/about">our story</a>
    <a class="bHeader__navItem opaq uppercase" href="/users/contact">contact us</a>
    <a class="bHeader__navItem opaq uppercase" href="/users/auth">get started</a> -->
    <a class="bHeader__navItem opaq uppercase logoutbtn" onclick="logout();" href="#" data-type="reset">logout</a>
    <a class="bHeader__navItem opaq uppercase topOrderButton" onclick="topOrderClicked();" href="#">orders</a>
    <a class="bHeader__navItem opaq uppercase profileButton" onclick="profileClicked();" href="#">settings</a>
  </div>
</div>
<!--=====================
          Content
======================-->

<article class="pProfile">

<section id="contacts" class="page bContent__section">
  <div class="container">
    <form id="contact-form">
      <fieldset>
        <div class="pProfile__info">
          <h1 class="bContent__h2">Your Profile</h1>
          <label class="name">
              <input type="text" name="name" class="nameBox bContent__input-dashboard" data-constraints="@Required @JustLetters">
              <span class="empty-message">*This field is required.</span>
              <span class="error-message">*This is not a valid name.</span>
          </label>

          <label class="email">
              <input type="text" name="email" class="emailBox bContent__input-dashboard" data-constraints="@Required @Email">
              <span class="empty-message">*This field is required.</span>
              <span class="error-message">*This is not a valid email.</span>
          </label>

          <label class="phone">
              <input type="text" name="phone" class="phoneBox bContent__input-dashboard" data-constraints="@Required @JustNumbers">
              <span class="empty-message">*This field is required.</span>
              <span class="error-message">*This is not a valid phone.</span>
          </label>

          <label class="streetAddress">
              <input type="text" name="streetAddress" class="streetBox bContent__input-dashboard" data-constraints="@Required">
              <span class="empty-message">*This field is required.</span>
              <span class="error-message">*This is not a valid street address.</span>
          </label>

          <label class="state">
              <input type="text" name="state" class="stateBox bContent__input-dashboard">
              <span class="empty-message">*This field is required.</span>
              <span class="error-message">*This is not a valid state.</span>
          </label>

          <label class="zip">
              <input type="text" name="zip" class="zipBox bContent__input-dashboard">
              <span class="empty-message">*This field is required.</span>
              <span class="error-message">*This is not a valid ZIP code.</span>
          </label>

          <label class="message">
            <textarea class="notesBox bContent__textarea" data-constraints="@Required @Length(min=20,max=999999)"></textarea>
            <span class="empty-message">*This field is required.</span>
            <span class="error-message">*The message is too short.</span>
          </label>

          <a href="#" onclick="updateProfile();" class="btn pProfile__update" data-type="reset">Update </a>
        </div>

        <div class="pProfile__diets">
          <h1 class="bContent__h2">Your Diets</h1>

          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="Paleo" value="Paleo"> Paleo<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="Whole 30" value="Whole30"> Whole 30<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="Weston" value="Weston"> Weston<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="GAPS" value="GAPS"> GAPS<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="Primal" value="Primal"> Primal<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="LowNo" value="LowNo"> Low-No FODMAPs<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="AutoimmunePaleo" value="AutoimmunePaleo"> Autoimmune Paleo<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="WahlsProtocol" value="WahlsProtocol"> Wahls Protocol<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="Ketogenic" value="Ketogenic"> Ketogenic<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="21DaySugarDetox" value="21DaySugarDetox"> 21 Day Sugar Detox<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="GlutenFree" value="GlutenFree"> Gluten-Free<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="DairyFree" value="DairyFree"> Dairy Free<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="AllergyFree" value="AllergyFree"> Allergy-Free (Top 8)*<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="Vegan" value="Vegan"> Vegan<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="Vegetarian" value="Vegetarian"> Vegetarian<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="DukanDiet" value="DukanDiet"> Dukan Diet<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="AtkinsDiet" value="AtkinsDiet"> Atkins Diet<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="SpecificCarbohydrateDiet" value="SpecificCarbohydrateDiet"> Specific Carbohydrate Diet<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="AlkalineDiet" value="AlkalineDiet"> Alkaline Diet<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="CleanEating" value="CleanEating"> Clean Eating<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="SIBODiet" value="SIBODiet"> SIBO Diet<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="SlowCarb" value="SlowCarb"> Slow Carb/4 Hr Body Diet<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="LowGlycemic" value="LowGlycemic"> Low-Glycemic<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="SalicylateFree" value="SalicylateFree"> Salicylate-Free<br>
          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="weightLoss" value="weightLoss"> Weight Loss

          <a href="#" onclick="updateProfile();" class="btn pProfile__update" data-type="reset">Update </a>
        </div>

      </fieldset>
    </form>
  </div>

</section>

<section style="display:none;" class="topLevel bContent__section">
    <div class="container">
        <p style="color:black; font-style:normal; font-size:24px">How many people will be dining?</p>
        <ul class="gfield_radio pProfile__customerCount" id="input_5_13" style="color:black; font-style:normal; font-size:18px;">
            <li>
                <input style="-webkit-appearance:radio" name="numPeople" type="radio" value="1" class="num1">
                <label for="choice_13_0" id="label_13_0">1</label></li>
            <li>
                <input style="-webkit-appearance:radio" name="numPeople" type="radio" value="2" class="num2">
                <label for="choice_13_1" id="label_13_1">2</label></li>
            <li>
                <input style="-webkit-appearance:radio" name="numPeople" type="radio" value="3" class="num3">
                <label for="choice_13_2" id="label_13_2">3</label></li>
            <li>
                <input style="-webkit-appearance:radio" name="numPeople" type="radio" value="4" class="num4">
                <label for="choice_13_3" id="label_13_3">4</label></li>
            <li>
                <input style="-webkit-appearance:radio" name="numPeople" type="radio" value="5" class="num5">
                <label for="choice_13_4" id="label_13_4">5</label></li>
            <li>
                <input style="-webkit-appearance:radio" name="numPeople" type="radio" value="6" class="num6">
                <label for="choice_13_5" id="label_13_5">6</label></li>
        </ul>

        <div class="hits bContent__section">
            <p style="color:black; font-style:normal; font-size:24px">Greatest Hits</p>
            <ul class="gfield_radio" id="input_5_3" style="color:black; font-style:normal; font-size:18px;">
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="The Fridge Full of Food: Seven days, breakfast, lunch, dinner, and snacks" id="choice_3_0" tabindex="14" onclick="full()">
                    <label for="choice_3_0" id="label_3_0">
                        The Fridge Full of Food: Seven days, breakfast, lunch, dinner, and snacks
                    </label></li>
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="Seven days, three meals a day" id="choice_3_1" tabindex="15" onclick="seven()">
                    <label for="choice_3_1" id="label_3_1">Seven days, three meals a day</label></li>
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="Monday-Friday, breakfast, lunch, dinner, and snacks" id="choice_3_2" tabindex="16" onclick="five()">
                    <label for="choice_3_2" id="label_3_2">Monday-Friday, breakfast, lunch, dinner, and snacks</label></li>
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="Monday-Friday, breakfast, lunch, and dinner" id="choice_3_3" tabindex="17" onclick="fiveNoS()">
                    <label for="choice_3_3" id="label_3_3">Monday-Friday, breakfast, lunch, and dinner</label></li>
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="Monday-Friday, lunch and dinner" id="choice_3_4" tabindex="18" onclick="fiveNoB()">
                    <label for="choice_3_4" id="label_3_4">Monday-Friday, lunch and dinner</label></li>
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="Monday-Friday, dinner" id="choice_3_5" tabindex="19" onclick="fiveOnlyD()">
                    <label for="choice_3_5" id="label_3_5">Monday-Friday, dinner</label></li>
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="Three days, dinner (delivery M)" id="choice_3_6" tabindex="20" onclick="three()">
                    <label for="choice_3_6" id="label_3_6">Three days, dinner</label></li>
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="None of these - I'd like to customize" id="customOptionBtn" onclick="customSelect()">
                    <label>None of these - I'd like to customize</label></li>
            </ul>
        </div>
        <br>

        <div style="text-align:left" class="customOrder clearfix">
            <div class="Monday pProfile__day" style="float:left; overflow:hidden;">
                <p style="color:black; font-style:normal; font-size:24px">M</p>
                <ul class="mondayList" style="color:black; font-style:normal; font-size:18px;">
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Breakfast mealOption">
                        <label>Breakfast</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Lunch mealOption">
                        <label>Lunch</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dinner mealOption">
                        <label>Dinner</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Snacks mealOption">
                        <label>Snacks</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dessert mealOption">
                        <label>Dessert</label></li>
                </ul>
                <br>
            </div>

            <div class="Tuesday pProfile__day" style="float:left; overflow:hidden;">
                <p style="color:black; font-style:normal; font-size:24px">T</p>
                <ul class="tuesdayList" style="color:black; font-style:normal; font-size:18px;">
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Breakfast mealOption">
                        <label>Breakfast</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Lunch mealOption">
                        <label>Lunch</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dinner mealOption">
                        <label>Dinner</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Snacks mealOption">
                        <label>Snacks</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dessert mealOption">
                        <label>Dessert</label></li>
                </ul>
                <br>
            </div>

            <div class="Wednesday pProfile__day" style="float:left; overflow:hidden;">
                <p style="color:black; font-style:normal; font-size:24px">W</p>
                <ul class="wednesdayList" style="color:black; font-style:normal; font-size:18px;">
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Breakfast mealOption">
                        <label>Breakfast</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Lunch mealOption">
                        <label>Lunch</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dinner mealOption">
                        <label>Dinner</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Snacks mealOption">
                        <label>Snacks</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dessert mealOption">
                        <label>Dessert</label></li>
                </ul>
                <br>
            </div>

            <div class="Thursday pProfile__day" style="float:left; overflow:hidden;">
                <p style="color:black; font-style:normal; font-size:24px">R</p>
                <ul class="thursdayList" style="color:black; font-style:normal; font-size:18px;">
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Breakfast mealOption">
                        <label>Breakfast</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Lunch mealOption">
                        <label>Lunch</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dinner mealOption">
                        <label>Dinner</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Snacks mealOption">
                        <label>Snacks</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dessert mealOption">
                        <label>Dessert</label></li>
                </ul>
                <br>
            </div>

            <div class="Friday pProfile__day" style="float:left; overflow:hidden;">
                <p style="color:black; font-style:normal; font-size:24px">F</p>
                <ul class="fridayList" style="color:black; font-style:normal; font-size:18px;">
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Breakfast mealOption">
                        <label>Breakfast</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Lunch mealOption">
                        <label>Lunch</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dinner mealOption">
                        <label>Dinner</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Snacks mealOption">
                        <label>Snacks</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dessert mealOption">
                        <label>Dessert</label></li>
                </ul>
                <br>
            </div>

            <div class="Saturday pProfile__day" style="float:left; overflow:hidden;">
                <p style="color:black; font-style:normal; font-size:24px">Sa</p>
                <ul class="saturdayList" style="color:black; font-style:normal; font-size:18px;">
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Breakfast mealOption">
                        <label>Breakfast</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Lunch mealOption">
                        <label>Lunch</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dinner mealOption">
                        <label>Dinner</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Snacks mealOption">
                        <label>Snacks</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dessert mealOption">
                        <label>Dessert</label></li>
                </ul>
                <br>
            </div>

            <div class="Sunday pProfile__day" style="float:left; overflow:hidden;">
                <p style="color:black; font-style:normal; font-size:24px">Su</p>
                <ul class="sundayList" style="color:black; font-style:normal; font-size:18px;">
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Breakfast mealOption">
                        <label>Breakfast</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Lunch mealOption">
                        <label>Lunch</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dinner mealOption">
                        <label>Dinner</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Snacks mealOption">
                        <label>Snacks</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dessert mealOption">
                        <label>Dessert</label></li>
                </ul>
                <br>
            </div>

        </div>

        <div style="text-align:center">
            <a style="text-align:center" href="#" onclick="submitOrders();" class="btn submitOrderButton pProfile__update pProfile__update-order">Submit</a>
        </div>

    </div>
</section>



    <!--==============================
                  footer
    =================================-->


    <a href="#" id="toTop" class="fa fa-chevron-up"></a>
    <script src="/static/js/jquery.singlePageNav.min.js"></script>
    <script>

        // Prevent console.log from generating errors in IE for the purposes of the demo
        if ( ! window.console ) console = { log: function(){} };

        // The actual plugin
        $('.single-page-nav').singlePageNav({
            offset: $('.single-page-nav').outerHeight(),
            filter: ':not(.external)',
            updateHash: true,
            beforeStart: function() {
                console.log('begin scrolling');
            },
            onComplete: function() {
                console.log('done scrolling');
            }
        });
    </script>





</font></font></body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K269DB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K269DB');</script>
<!-- End Google Tag Manager -->
</html>