<html lang="en">
<head>
  <title>Account Info</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
 <!--  <link rel="stylesheet" href="/static/css/skeleton.css"> -->
  <link rel="stylesheet" href="/static/css/bHeader.css">
  <link rel="stylesheet" href="/static/css/new.css">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/stellar.js"></script>
  <script src="/static/js/bHeader.js"></script>
  <script src="/static/js/profile.js"></script>
</head>

<body>
<!--==============================
              header
=================================-->

<div class="bHeader opaq">
  <div class="container">
    <a class="bHeader__logo" href="/"></a>
    <a class="bHeader__navItem opaq profileButton" onclick="profileClicked();" href="#">settings</a>
    <a class="bHeader__navItem opaq topOrderButton" onclick="topOrderClicked();" href="#">orders</a>
    <a class="bHeader__navItem opaq logoutbtn" onclick="logout();" href="#" data-type="reset">logout</a>
  </div>
  <a class="bHeader__navItem-hamburger opaq" href="#"><span class="fa fa-bars"></span></a>
</div>

<!-- TODO: close mobile nav when link clicked. [route doesn't change] -->
<div class="bHeader__mobile" style="display:none;">
  <a class="bHeader__navItem-close" href="#"><span class="fa fa-times"></span></a>
  <div class="container">
    <a class="bHeader__navItem-mobile profileButton" onclick="profileClicked();" href="#">settings</a></br>
    <a class="bHeader__navItem-mobile topOrderButton" onclick="topOrderClicked();" href="#">orders</a></br>
    <a class="bHeader__navItem-mobile logoutbtn" onclick="logout();" href="#" data-type="reset">logout</a></br>
  </div>
</div>
<!--=====================
          Content
======================-->

<article class="pProfile">

<section id="contacts" class="page bContent__section">
  <div class="container">
    <form id="contact-form">
      <fieldset>
        <div class="pProfile__info">
          <h2 class="bContent__h2">Your Profile</h2>
          <label class="name">
              <input type="text" name="name" class="nameBox bContent__input-dashboard" data-constraints="@Required @JustLetters">
              <span class="empty-message">*This field is required.</span>
              <span class="error-message">*This is not a valid name.</span>
          </label>

          <label class="email">
              <input type="text" name="email" class="emailBox bContent__input-dashboard" data-constraints="@Required @Email">
              <span class="empty-message">*This field is required.</span>
              <span class="error-message">*This is not a valid email.</span>
          </label>

          <label class="phone">
              <input type="text" name="phone" class="phoneBox bContent__input-dashboard" data-constraints="@Required @JustNumbers">
              <span class="empty-message">*This field is required.</span>
              <span class="error-message">*This is not a valid phone.</span>
          </label>

          <label class="streetAddress">
              <input type="text" name="streetAddress" class="streetBox bContent__input-dashboard" data-constraints="@Required">
              <span class="empty-message">*This field is required.</span>
              <span class="error-message">*This is not a valid street address.</span>
          </label>

          <label class="state">
              <input type="text" name="state" class="stateBox bContent__input-dashboard">
              <span class="empty-message">*This field is required.</span>
              <span class="error-message">*This is not a valid state.</span>
          </label>

          <label class="zip">
              <input type="text" name="zip" class="zipBox bContent__input-dashboard">
              <span class="empty-message">*This field is required.</span>
              <span class="error-message">*This is not a valid ZIP code.</span>
          </label>

          <label class="message">
            <textarea class="notesBox bContent__textarea" data-constraints="@Required @Length(min=20,max=999999)"></textarea>
            <span class="empty-message">*This field is required.</span>
            <span class="error-message">*The message is too short.</span>
          </label>

          <a href="#" onclick="updateProfile();" class="btn pProfile__update" data-type="reset">Update </a>
        </div>

        <div class="pProfile__diets">
          <h2 class="bContent__h2">Your Diets</h2>

          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="Paleo" value="Paleo">
            <a href="#" class="tooltip">
              Paleo
              <span>
              <!-- <img class="callout" src="cssttp/callout.gif" /> -->
                <strong class="font-w-bold">The diet:</strong></br>
                A whole foods diet, comprised of clean meats, organic fruits &amp; vegetables, pastured eggs &amp; some nuts and seeds.
                <hr>
                <strong class="font-w-bold">Recommended for: </strong></br>
                weight loss, general health management
              </span>
            </a>
          <br>

          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="Whole30" value="Whole30">
            <a href="#" class="tooltip">
              Whole 30
              <span>
              <!-- <img class="callout" src="cssttp/callout.gif" /> -->
                <strong class="font-w-bold">The diet:</strong></br>
                Jump start your weight loss with this 30 day program based on Paleo principles.
                <hr>
                <strong class="font-w-bold">Recommended for: </strong></br>
                dietary restart, weight loss
              </span>
            </a>
          <br>

          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="Weston" value="Weston">
            <a href="#" class="tooltip">
              Weston Price / Nourishing Traditions
              <span>
              <!-- <img class="callout" src="cssttp/callout.gif" /> -->
                <strong class="font-w-bold">The diet:</strong></br>
                Traditional, nutrient-dense foods like ferments, offal & sprouted grains comprise this diet. Lots of vegetables and fruits as well as raw milk products, grass-fed meats & pastured eggs.
                <hr>
                <strong class="font-w-bold">Recommended for: </strong></br>
                families, health maintenance, general diet
              </span>
            </a>
          <br>

          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="GAPS" value="GAPS">
            <a href="#" class="tooltip">
              GAPS
              <span>
              <!-- <img class="callout" src="cssttp/callout.gif" /> -->
                <strong class="font-w-bold">The diet:</strong></br>
                Created to fix what's known as "leaky gut", this multi-phase diet is lauded for its healing effects on autoimmune and digestive diseases. The GAPS diet has anecdotal accounts of reversing food allergies, healing the lining of the gut and easing the symptoms of severe gastrointestinal issues. Not for the faint of heart, this diet requires a strong commitment and patience.
                <hr>
                <strong class="font-w-bold">Recommended for: </strong></br>
                seriously damaged guts, those who are seeking to alleviate leaky gut issues
              </span>
            </a>
          <br>

          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="Primal" value="Primal">
            <a href="#" class="tooltip">
              Primal
              <span>
              <!-- <img class="callout" src="cssttp/callout.gif" /> -->
                <strong class="font-w-bold">The diet:</strong></br>
                Based on Paleo concepts, Primal includes raw or grassfed organic dairy.
                <hr>
                <strong class="font-w-bold">Recommended for: </strong></br>
                weight loss, general health management
              </span>
            </a>
          <br>

          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="LowNo" value="LowNo">
            <a href="#" class="tooltip">
              Low FODMAPs
              <span>
              <!-- <img class="callout" src="cssttp/callout.gif" /> -->
                <strong class="font-w-bold">The diet:</strong></br>
                Often used for management of Irritable Bowel Disorder. Low in a variety of carbohydrates proven to cause gastrointestinal discomfort, this is a great solution for managing a sensitive gut.
                <hr>
                <strong class="font-w-bold">Recommended for: </strong></br>
                intestinal-related disorders, IBD, Crohn's, Colitis
              </span>
            </a>
          <br>

          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="AutoimmunePaleo" value="AutoimmunePaleo">
            <a href="#" class="tooltip">
              Autoimmune Paleo
              <span>
              <!-- <img class="callout" src="cssttp/callout.gif" /> -->
                <strong class="font-w-bold">The diet:</strong></br>
                 A low-allergen approach to Paleo, with an initial phase of no seeds, nuts, eggs, and nightshades. If you have found a plateau in managing or healing your illness with Paleo, Autoimmune Paleo, or AIP, is a great place to start.
                <hr>
                <strong class="font-w-bold">Recommended for: </strong></br>
                controlling autoimmune disease-related flare-ups, autoimmune disease management, thyroid management, allergy-free weight loss
              </span>
            </a>
          <br>

          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="WahlsProtocol" value="WahlsProtocol">
            <a href="#" class="tooltip">
              Wahls Paleo
              <span>
              <!-- <img class="callout" src="cssttp/callout.gif" /> -->
                <strong class="font-w-bold">The diet:</strong></br>
                 An alternative, extremely nutrient-dense approach to autoimmune illness. This version of Paleo subtracts eggs, adds in fermented food &amp; offal, and 9 servings of fruits and vegetables per day.
                <hr>
                <strong class="font-w-bold">Recommended for: </strong></br>
                 autoimmune issues, especially but not limited to those affecting the joints, nerve and muscles, such as Rheumatoid Arthritis, Multiple Sclerosis, Neuropathy &amp; Fibromyalgia
              </span>
            </a>
          <br>

          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="Ketogenic" value="Ketogenic">
            <a href="#" class="tooltip">
              Ketogenic / Bulletproof
              <span>
              <!-- <img class="callout" src="cssttp/callout.gif" /> -->
                <strong class="font-w-bold">The diet:</strong></br>
                 High fat, low carbohydrate, moderate protein. This diet employs the principles of Dave Asprey. This diet puts your body into a state in which fat is burned for energy, versus carbohydrates, resulting in fat loss.
                <hr>
                <strong class="font-w-bold">Recommended for: </strong></br>
                 weight loss
              </span>
            </a>
          <br>


          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="21DaySugarDetox" value="21DaySugarDetox">
            <a href="#" class="tooltip">
              21 Day Sugar Detox
              <span>
              <!-- <img class="callout" src="cssttp/callout.gif" /> -->
                <strong class="font-w-bold">The diet:</strong></br>
                  A three a week program designed to conquer sugar addiction. Based on Paleo principles, but overall sugar intake--including those from fruits and vegetables.
                <hr>
                <strong class="font-w-bold">Recommended for: </strong></br>
                 weight loss, those aiming to cut sugar issues
              </span>
            </a>
          <br>

          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="GlutenFree" value="GlutenFree">
            <a href="#" class="tooltip">
              Gluten-Free
              <span>
              <!-- <img class="callout" src="cssttp/callout.gif" /> -->
                <strong class="font-w-bold">The diet:</strong></br>
                  This diet includes a variety of foods, but is free of all grains containing gluten.
                <hr>
                <strong class="font-w-bold">Recommended for: </strong></br>
                 Celiac disease, Crohn's disease
              </span>
            </a>
          <br>

          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="Vegan" value="Vegan">
            <a href="#" class="tooltip">
              Vegan
              <span>
              <!-- <img class="callout" src="cssttp/callout.gif" /> -->
                <strong class="font-w-bold">The diet:</strong></br>
                  No animal products whatsoever-- just fruits, vegetables, nuts, legumes & grains.
                <hr>
                <!-- <strong class="font-w-bold">Recommended for: </strong></br>
                 Celiac disease, Crohn's disease -->
              </span>
            </a>
          <br>

          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="Vegetarian" value="Vegetarian">
            <a href="#" class="tooltip">
              Vegetarian
              <span>
              <!-- <img class="callout" src="cssttp/callout.gif" /> -->
                <strong class="font-w-bold">The diet:</strong></br>
                  No meat, but eggs and dairy are permissible. Besides eggs and dairy, this diet is comprised of fruits, vegetables, nuts, legumes & grains.
                <hr>
                <!-- <strong class="font-w-bold">Recommended for: </strong></br>
                 Celiac disease, Crohn's disease -->
              </span>
            </a>
          <br>


          <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="SpecificCarbohydrateDiet" value="SpecificCarbohydrateDiet">
            <a href="#" class="tooltip">
              Specific Carbohydrate Diet
              <span>
              <!-- <img class="callout" src="cssttp/callout.gif" /> -->
                <strong class="font-w-bold">The diet:</strong></br>
                  A relatively restrictive diet for people with gastrointestinal disease. Low in specific naturally-occuring carbohydrates, this diet is good for those managing digestive issues, but requires a level of commitment.
                <hr>
                <strong class="font-w-bold">Recommended for: </strong></br>
                 Celiac disease, Crohn's disease, ulcerative colitis, diverticulitis
              </span>
            </a>
          <br>

          <!-- <input type="checkbox" style="-webkit-appearance:checkbox" name="option1" class="CleanEating" value="CleanEating"> Clean Eating<br> -->

          <a href="#" onclick="updateProfile();" class="btn pProfile__update" data-type="reset">Update </a>
        </div>

      </fieldset>
    </form>
  </div>

</section>

<section style="display:none;" class="topLevel bContent__section">
    <div class="container">
        <p style="color:black; font-style:normal; font-size:24px">How many people will be dining?</p>
        <ul class="gfield_radio pProfile__customerCount" id="input_5_13" style="color:black; font-style:normal; font-size:18px;">
            <li>
                <input style="-webkit-appearance:radio" name="numPeople" type="radio" value="1" class="num1">
                <label for="choice_13_0" id="label_13_0">1</label></li>
            <li>
                <input style="-webkit-appearance:radio" name="numPeople" type="radio" value="2" class="num2">
                <label for="choice_13_1" id="label_13_1">2</label></li>
            <li>
                <input style="-webkit-appearance:radio" name="numPeople" type="radio" value="3" class="num3">
                <label for="choice_13_2" id="label_13_2">3</label></li>
            <li>
                <input style="-webkit-appearance:radio" name="numPeople" type="radio" value="4" class="num4">
                <label for="choice_13_3" id="label_13_3">4</label></li>
            <li>
                <input style="-webkit-appearance:radio" name="numPeople" type="radio" value="5" class="num5">
                <label for="choice_13_4" id="label_13_4">5</label></li>
            <li>
                <input style="-webkit-appearance:radio" name="numPeople" type="radio" value="6" class="num6">
                <label for="choice_13_5" id="label_13_5">6</label></li>
        </ul>

        <div class="hits bContent__section">
            <p style="color:black; font-style:normal; font-size:24px">Greatest Hits</p>
            <ul class="gfield_radio" id="input_5_3" style="color:black; font-style:normal; font-size:18px;">
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="The Fridge Full of Food: Seven days, breakfast, lunch, dinner, and snacks" id="choice_3_0" tabindex="14" onclick="full()">
                    <label for="choice_3_0" id="label_3_0">
                        The Fridge Full of Food: Seven days, breakfast, lunch, dinner, and snacks
                    </label></li>
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="Seven days, three meals a day" id="choice_3_1" tabindex="15" onclick="seven()">
                    <label for="choice_3_1" id="label_3_1">Seven days, three meals a day</label></li>
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="Monday-Friday, breakfast, lunch, dinner, and snacks" id="choice_3_2" tabindex="16" onclick="five()">
                    <label for="choice_3_2" id="label_3_2">Monday-Friday, breakfast, lunch, dinner, and snacks</label></li>
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="Monday-Friday, breakfast, lunch, and dinner" id="choice_3_3" tabindex="17" onclick="fiveNoS()">
                    <label for="choice_3_3" id="label_3_3">Monday-Friday, breakfast, lunch, and dinner</label></li>
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="Monday-Friday, lunch and dinner" id="choice_3_4" tabindex="18" onclick="fiveNoB()">
                    <label for="choice_3_4" id="label_3_4">Monday-Friday, lunch and dinner</label></li>
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="Monday-Friday, dinner" id="choice_3_5" tabindex="19" onclick="fiveOnlyD()">
                    <label for="choice_3_5" id="label_3_5">Monday-Friday, dinner</label></li>
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="Three days, dinner (delivery M)" id="choice_3_6" tabindex="20" onclick="three()">
                    <label for="choice_3_6" id="label_3_6">Three days, dinner</label></li>
                <li>
                    <input style="-webkit-appearance:radio" name="input_3" type="radio" value="None of these - I'd like to customize" id="customOptionBtn" onclick="customSelect()">
                    <label>None of these - I'd like to customize</label></li>
            </ul>
        </div>
        <br>

        <div style="text-align:left" class="customOrder clearfix">
            <div class="Monday pProfile__day" style="float:left; overflow:hidden;">
                <p style="color:black; font-style:normal; font-size:24px">M</p>
                <ul class="mondayList" style="color:black; font-style:normal; font-size:18px;">
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Breakfast mealOption">
                        <label>Breakfast</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Lunch mealOption">
                        <label>Lunch</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dinner mealOption">
                        <label>Dinner</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Snacks mealOption">
                        <label>Snacks</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dessert mealOption">
                        <label>Dessert</label></li>
                </ul>
                <br>
            </div>

            <div class="Tuesday pProfile__day" style="float:left; overflow:hidden;">
                <p style="color:black; font-style:normal; font-size:24px">T</p>
                <ul class="tuesdayList" style="color:black; font-style:normal; font-size:18px;">
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Breakfast mealOption">
                        <label>Breakfast</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Lunch mealOption">
                        <label>Lunch</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dinner mealOption">
                        <label>Dinner</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Snacks mealOption">
                        <label>Snacks</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dessert mealOption">
                        <label>Dessert</label></li>
                </ul>
                <br>
            </div>

            <div class="Wednesday pProfile__day" style="float:left; overflow:hidden;">
                <p style="color:black; font-style:normal; font-size:24px">W</p>
                <ul class="wednesdayList" style="color:black; font-style:normal; font-size:18px;">
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Breakfast mealOption">
                        <label>Breakfast</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Lunch mealOption">
                        <label>Lunch</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dinner mealOption">
                        <label>Dinner</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Snacks mealOption">
                        <label>Snacks</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dessert mealOption">
                        <label>Dessert</label></li>
                </ul>
                <br>
            </div>

            <div class="Thursday pProfile__day" style="float:left; overflow:hidden;">
                <p style="color:black; font-style:normal; font-size:24px">R</p>
                <ul class="thursdayList" style="color:black; font-style:normal; font-size:18px;">
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Breakfast mealOption">
                        <label>Breakfast</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Lunch mealOption">
                        <label>Lunch</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dinner mealOption">
                        <label>Dinner</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Snacks mealOption">
                        <label>Snacks</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dessert mealOption">
                        <label>Dessert</label></li>
                </ul>
                <br>
            </div>

            <div class="Friday pProfile__day" style="float:left; overflow:hidden;">
                <p style="color:black; font-style:normal; font-size:24px">F</p>
                <ul class="fridayList" style="color:black; font-style:normal; font-size:18px;">
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Breakfast mealOption">
                        <label>Breakfast</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Lunch mealOption">
                        <label>Lunch</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dinner mealOption">
                        <label>Dinner</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Snacks mealOption">
                        <label>Snacks</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dessert mealOption">
                        <label>Dessert</label></li>
                </ul>
                <br>
            </div>

            <div class="Saturday pProfile__day" style="float:left; overflow:hidden;">
                <p style="color:black; font-style:normal; font-size:24px">Sa</p>
                <ul class="saturdayList" style="color:black; font-style:normal; font-size:18px;">
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Breakfast mealOption">
                        <label>Breakfast</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Lunch mealOption">
                        <label>Lunch</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dinner mealOption">
                        <label>Dinner</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Snacks mealOption">
                        <label>Snacks</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dessert mealOption">
                        <label>Dessert</label></li>
                </ul>
                <br>
            </div>

            <div class="Sunday pProfile__day" style="float:left; overflow:hidden;">
                <p style="color:black; font-style:normal; font-size:24px">Su</p>
                <ul class="sundayList" style="color:black; font-style:normal; font-size:18px;">
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Breakfast mealOption">
                        <label>Breakfast</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Lunch mealOption">
                        <label>Lunch</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dinner mealOption">
                        <label>Dinner</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Snacks mealOption">
                        <label>Snacks</label></li>
                    <li>
                        <input onclick="customSelect();" style="-webkit-appearance:checkbox"  type="checkbox" class="Dessert mealOption">
                        <label>Dessert</label></li>
                </ul>
                <br>
            </div>

        </div>

        <div style="text-align:center">
            <a style="text-align:center" href="#" onclick="submitOrders();" class="btn submitOrderButton pProfile__update pProfile__update-order">Submit</a>
        </div>

    </div>
</section>








</body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K269DB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K269DB');</script>
<!-- End Google Tag Manager -->
</html>