@font-face { font-family: Playball; src: url('../fonts/Playball.ttf'); }
@font-face { font-family: Mission; src: url('../fonts/Mission-Script.otf'); }

a.tooltip {outline:none; text-decoration: none; color: #000;}
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}

/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

html {
  font-family: "Helvetica Neue";
  font-weight: 300;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.font-w-bold {
  font-weight: 600;
}

.font-s-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.bContent__section {
  padding: 4rem 0;
  z-index: 777;
}

.bContent__section_alt {
  background: #F7F7F8;
}

.bContent__h {
  font-size: 2.5rem;
  font-family: "Mission";
  margin-bottom: 1rem;
}

.bContent__h2 {
  font-size: 1.5rem;
}

.bContent__p {
  font-size: 1rem;
  margin: 2rem 0;
  line-height: 2.0;
  font-family: "Lora";
}

@media (max-width: 768px) {
  .bContent__h {
    font-size: 1.75rem
  }
  .bContent__h2 {
    font-size: 1.25rem;
  }
  .bContent__p {
    margin: 0;
    line-height: 1.5;
  }
  .bContent__section {
    padding: 2rem 0;
  }
}

@media (max-width: 480px) {
  .bContent__p {
    /*text-align: justify;*/
  }
}

.pIndex .bSplash__background {
  background-image: url(../../static/images/12.jpg);
}

.pSources .bSplash__background {
  background-image: url(../../static/images/11.jpg);
}

.pAbout .bSplash__background {
  background-image: url(../../static/images/girl.jpeg);
}

.pService .bSplash__background {
  background-image: url(../../static/images/10.jpg);
}

.pLogin .bSplash__background {
  background-image: url(../../static/images/6.jpg);
}

.pMenu .bSplash__background {
  background-image: url(../../static/images/5.jpg);
}

.pContact .bSplash__background {
  background-image: url(../../static/images/9.jpg);
}

.bSplash {
  position: relative;
}

.bSplash__background {
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  /*background-position: center center;*/
}

.bSplash__content {
  position: absolute;
  top: 33.3333333333%;
  text-align: center;
  width: 100%;
  color: white;
  font-weight: 100;
  letter-spacing: 12.0;
  /*text-transform: uppercase;*/
  z-index: 666;
}

.bSplash__content-login {
  top: 5rem;
}

.bSplash__overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 666;
}

.bSplash__header {
  font-size: 5rem;
}

.bSplash__subheader {
  font-size: 3rem;
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .bSplash__background {
    background-position: center center;
  }
  .bSplash__header {
    font-size: 2rem;
  }
  .bSplash__subheader {
    font-size: 1rem;
  }
}

.pIndex__aboutP {
  text-align: center;
  color: black;
}

.pMenu__item {
  margin-top: 2rem;
}

.btn {
  font-family: "Helvetica Neue";
  font-size: 1rem;
  color: #FFF;
  background: rgba(0, 0, 0, 0);
  border: 2px solid #FFF;
  margin: 1rem 0;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
}

.bContent__half {
  width: 50%;
  float: left;
}

@media (max-width: 768px) {
  .bContent__half {
    width: 100%;
  }
}

.bContent__half li {
  margin: 0.5rem 0;
  font-family: "Lora";
}

.bContent__input {
  font-size: 16px;
  -webkit-transition: border-color 0.3s, color 0.3s;
  -moz-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  border-radius: 0.66667rem;
  border: 2px solid transparent;
  color: #000;
  background: #fff;
  float: left;
  outline: none;
  padding: 0.75rem;
  width: 100%;
  margin: 0.5rem 0;
}

.bContent__input-dashboard {
  -webkit-transition: border-color 0.3s, color 0.3s;
  -moz-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  border-radius: 0.66667rem;
  border: 2px solid #000;
  color: #000;
  outline: none;
  padding: 1rem;
  margin: 1rem 0;
  display: block;
  width: 250px;
}

.bContent__textarea {
  height: 200px;
  -webkit-transition: border-color 0.3s, color 0.3s;
  -moz-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  border-radius: 0.66667rem;
  border: 2px solid #000;
  color: #000;
  outline: none;
  padding: 1rem;
  margin: 1rem 0;
  display: block;
  width: 250px;
}

.margin-v-1 {
  margin: 1rem 0;
}

.margin-v-2 {
  margin: 2rem 0;
}

.margin-v-3 {
  margin: 3rem 0;
}

.margin-v-4 {
  margin: 4rem 0;
}

.margin-v-5 {
  margin: 5rem 0;
}

.pLogin__container {
  max-width: 500px;
  margin: 0 auto;
}

.pContact__map {
  width: 100%;
  height: 20rem;
}

.pProfile {
  margin-top: 60px;
}

.pProfile__info {
  float: left;
  width: 250px;
}

.pProfile__diets {
  float: left;
  font-size: 16px;
  margin-left: 25%;
}

.pProfile__diets input {
  margin: 0.5rem 0;
}

.pProfile__diets input:first-of-type {
  margin-top: 1rem;
}

.pProfile__update {
  font-size: 16px;
  border-radius: 6px;
  background-color: #3498db;
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
}

.pProfile__update-order {
  width: 25%;
  margin-top: 2rem;
}

.pProfile__customerCount li {
  display: inline-block;
}

.gfield_radio li, .customOrder li {
  margin: 1rem 0;
}

.pProfile__day {
  margin-left: 2rem;
  padding-left: 1rem;
  border-left: 2px solid #000;
}

.pProfile__day:first-of-type {
  margin-left: 0;
}

@media (max-width: 768px) {
  .pProfile__diets {
    margin: 0;
  }
}

/* Contact Form Error messages
========================================================*/
#contact-form .empty-message,
#contact-form .error-message {
  position: absolute;
  right: 3px;
  top: -18px;
  color: red;
  height: 0;
  overflow: hidden;
  font-size: 11px;
  -webkit-transition: 0.3s ease-in height;
  transition: 0.3s ease-in height;
  z-index: 99;
}
#contact-form .invalid .error-message,
#contact-form .empty .empty-message {
  height: 20px;
}

.loginButton, .signupButton {
  width: 45%;
}

.submitButton {
  width: 100%;
}
