<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 <!--  <link rel="stylesheet" href="/static/css/skeleton.css"> -->
  <link rel="stylesheet" href="/static/css/bHeader.css">
  <link rel="stylesheet" href="/static/css/new.css">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/bHeader.js"></script>
</head>

<body>
<!--==============================
              header
=================================-->
<div class="bHeader">
  <div class="container">
    <a class="bHeader__logo" href="/"></a>
    <a class="bHeader__navItem"></a>
    <a class="bHeader__navItem" href="/users/service">services</a>
    <a class="bHeader__navItem" href="/users/menu">menu</a>
    <a class="bHeader__navItem" href="/users/sources">sources</a>
    <a class="bHeader__navItem" href="/users/about">our story</a>
    <!-- <a class="bHeader__navItem" href="/users/contact">contact us</a> -->
    <a class="bHeader__navItem" href="/users/auth">get started</a>
  </div>
  <a class="bHeader__navItem-hamburger" href="#"><span class="fa fa-bars"></span></a>
</div>

<div class="bHeader__mobile" style="display:none;">
  <a class="bHeader__navItem-close" href="#"><span class="fa fa-times"></span></a>
  <div class="container">
    <a class="bHeader__navItem-mobile" href="/users/service">services</a></br>
    <a class="bHeader__navItem-mobile" href="/users/menu">menu</a></br>
    <a class="bHeader__navItem-mobile" href="/users/sources">sources</a></br>
    <a class="bHeader__navItem-mobile" href="/users/about">our story</a></br>
    <!-- <a class="bHeader__navItem-mobile" href="/users/contact">contact us</a> -->
    <a class="bHeader__navItem-mobile" href="/users/auth">get started</a>
  </div>
</div>
<!--=====================
          Content
======================-->
<article class="pIndex">
  <section class="bSplash">
    <div class="bSplash__background"></div>
    <div class="bSplash__overlay"></div>
    <div class="bSplash__content">
      <h1 class="bSplash__header">meals <span class="font-w-bold">to heal</span></h1>
      <h2 class="bSplash__subheader">a <span class="font-w-bold">brooklyn-based</span> food company.</h2>
      <a href="/users/auth">
        <button class="btn">get started</button>
      </a>
    </div>
  </section>
</article>




</body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K269DB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K269DB');</script>
<!-- End Google Tag Manager -->
</html>