<html lang="en">
<head>
  <title>Our Story</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
 <!--  <link rel="stylesheet" href="/static/css/skeleton.css"> -->
  <link rel="stylesheet" href="/static/css/bHeader.css">
  <link rel="stylesheet" href="/static/css/new.css">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/stellar.js"></script>
  <script src="/static/js/bHeader.js"></script>
  <script src="/static/js/index.js"></script>
</head>

<body>
<!--==============================
              header
=================================-->
<div class="bHeader">
  <div class="container">
    <a class="bHeader__logo" href="/"></a>
    <a class="bHeader__navItem"></a>
    <a class="bHeader__navItem" href="/users/service">services</a>
    <a class="bHeader__navItem" href="/users/menu">menu</a>
    <a class="bHeader__navItem" href="/users/sources">sources</a>
    <a class="bHeader__navItem" href="/users/about">our story</a>
    <!-- <a class="bHeader__navItem" href="/users/contact">contact us</a> -->
    <a class="bHeader__navItem" href="/users/auth">get started</a>
  </div>
  <a class="bHeader__navItem-hamburger" href="#"><span class="fa fa-bars"></span></a>
</div>

<div class="bHeader__mobile" style="display:none;">
  <a class="bHeader__navItem-close" href="#"><span class="fa fa-times"></span></a>
  <div class="container">
    <a class="bHeader__navItem-mobile" href="/users/service">services</a></br>
    <a class="bHeader__navItem-mobile" href="/users/menu">menu</a></br>
    <a class="bHeader__navItem-mobile" href="/users/sources">sources</a></br>
    <a class="bHeader__navItem-mobile" href="/users/about">our story</a></br>
    <!-- <a class="bHeader__navItem-mobile" href="/users/contact">contact us</a> -->
    <a class="bHeader__navItem-mobile" href="/users/auth">get started</a>
  </div>
</div>
<!--=====================
          Content
======================-->
<article class="pMenu">
  <section class="bSplash">
    <div class="bSplash__background" data-stellar-background-ratio="0.3"></div>
    <div class="bSplash__overlay" data-stellar-background-ratio="0.3"></div>
    <div class="bSplash__content" data-stellar-ratio="0.5">
      <h1 class="bSplash__header">spring 2015 <span class="font-w-bold">menu</span></h1>
    </div>
  </section>

  <section class="bContent__section">
    <div class="container">
      <h1 class="bContent__h font-w-bold">breakfasts.</h1>

      <div class="pMenu__item">
        <h2 class="bContent__h2">morning napoleon</h2>
        <p class="bContent__p margin-v-1">
          pastured eggs + kale + organic chicken sausage + seasonal vegetables with a reduction sauce
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">sundae morning</h2>
        <p class="bContent__p margin-v-1">
          grassfed yogurt + cranberry compote + housemade paleo granola
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">egg muffins</h2>
        <p class="bContent__p margin-v-1">
          pastured eggs + chef's choice leafy greens &amp; seasonal vegetables
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">squash pancakes&nbsp;</h2>
        <p class="bContent__p margin-v-1">
          coconut flour squash pancakes + roast pears + local maple + uncured, nitrate-free bacon
        </p>
      </div>
    </div>
  </section>

  <section class="bContent__section bContent__section_alt">
    <div class="container">
      <h1 class="bContent__h font-w-bold">lunches + dinners.</h1>

      <div class="pMenu__item">
        <h2 class="bContent__h2">lamb burger</h2>
        <p class="bContent__p margin-v-1">
          hudson valley lamb + roasted micro radishes + winter spinach with caramelized golden beets
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">the power meal</h2>
        <p class="bContent__p margin-v-1">
          grass-fed beef steak + carrot frites + steamed broccoli&nbsp;
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">stuffed cabbage</h2>
        <p class="bContent__p margin-v-1">
          ground grass-fed beef + leeks + chef's choice of seasonal vegetables + beet sauce
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">lamb salad</h2>
        <p class="bContent__p margin-v-1">
          seared hudson valley lamb + hand-selected baby greens+ beets + radishes + other seasonal vegetables
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">beet-braised duck</h2>
        <p class="bContent__p margin-v-1">
          black dirt region beets + pastured duck leg + roasted squash rings + sauteed kale
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">asian pork cheek ragout</h2>
        <p class="bContent__p margin-v-1">
          coconut amino braised heritage breed pork cheeks + sesame cucumber noodles + grilled bok choy
        </p>
      </div>
    </div>
  </section>

  <section class="bContent__section">
    <div class="container">
      <h1 class="bContent__h font-w-bold">snacks + desserts.</h1>

      <div class="pMenu__item">
        <h2 class="bContent__h2">squash truffles</h2>
        <p class="bContent__p margin-v-1">
          roasted squash puree + coconut butter + power seeds + coconut
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">sunflower smoothie</h2>
        <p class="bContent__p margin-v-1">
          coconut milk + sunflower seed butter
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">nut-free paleonola</h2>
        <p class="bContent__p margin-v-1">
          seeds + coconut + seasonal fruits + more
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">chopped liver</h2>
        <p class="bContent__p margin-v-1">
          organic, pastured chicken liver + hard-boiled eggs + garden herbs + carrot &amp; kohlrabi sticks
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">frozen lavender custard</h2>
        <p class="bContent__p margin-v-1">
          coconut milk + local lavender&nbsp;
        </p>
      </div>

      <div class="pMenu__item">
        <h2 class="bContent__h2">butternut baba ghanoush</h2>
        <p class="bContent__p margin-v-1">
          butternut squash + zucchini + tahini + radish chips
        </p>
      </div>
    </div>
  </section>
</article>





</body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K269DB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K269DB');</script>
<!-- End Google Tag Manager -->
</html>