<html lang="en">
<head>
  <title>Sources</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
 <!--  <link rel="stylesheet" href="/static/css/skeleton.css"> -->
  <link rel="stylesheet" href="/static/css/bHeader.css">
  <link rel="stylesheet" href="/static/css/new.css">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/stellar.js"></script>
  <script src="/static/js/bHeader.js"></script>
  <script src="/static/js/index.js"></script>
</head>

<body>
<!--==============================
              header
=================================-->
<div class="bHeader">
  <div class="container">
    <a class="bHeader__logo" href="/"></a>
    <a class="bHeader__navItem"></a>
    <a class="bHeader__navItem" href="/users/service">services</a>
    <a class="bHeader__navItem" href="/users/menu">menu</a>
    <a class="bHeader__navItem" href="/users/sources">sources</a>
    <a class="bHeader__navItem" href="/users/about">our story</a>
    <!-- <a class="bHeader__navItem" href="/users/contact">contact us</a> -->
    <a class="bHeader__navItem" href="/users/auth">get started</a>
  </div>
  <a class="bHeader__navItem-hamburger" href="#"><span class="fa fa-bars"></span></a>
</div>

<div class="bHeader__mobile" style="display:none;">
  <a class="bHeader__navItem-close" href="#"><span class="fa fa-times"></span></a>
  <div class="container">
    <a class="bHeader__navItem-mobile" href="/users/service">services</a></br>
    <a class="bHeader__navItem-mobile" href="/users/menu">menu</a></br>
    <a class="bHeader__navItem-mobile" href="/users/sources">sources</a></br>
    <a class="bHeader__navItem-mobile" href="/users/about">our story</a></br>
    <!-- <a class="bHeader__navItem-mobile" href="/users/contact">contact us</a> -->
    <a class="bHeader__navItem-mobile" href="/users/auth">get started</a>
  </div>
</div>
<!--=====================
          Content
======================-->

<article class="pSources">
   <section class="bSplash">
    <div class="bSplash__background" data-stellar-background-ratio="0.3"></div>
    <div class="bSplash__overlay" data-stellar-background-ratio="0.3"></div>
    <div class="bSplash__content" data-stellar-ratio="0.5">
      <h1 class="bSplash__header">our <span class="font-w-bold">sources</span></h1>
    </div>
  </section>

  <section class="bContent__section clearfix">
    <div class="container">
      <h1 class="bContent__h">we're big fans of local farms &amp; butcher shops</h1>
      <h2 class="bContent__h2 margin-v-2">here are a few we frequently source from:</h2>
      <div class="bContent__half">
        <li>The Meat Hook</li>
        <li>Fleisher's Pastured Meats&nbsp;</li>
        <li>Arcadian Pastures</li>
        <li>Migliorelli Farms</li>
        <li>Fishkill Farms</li>
        <li>Kernan Farms</li>
        <li>Whole Foods Market</li>
        <li>Foxy Farms</li>
        <li>Sahadi's</li>
      </div>

      <div class="bContent__half">
        <li>S &amp; SO Farms</li>
        <li>Van Houten Farmss</li>
        <li>Quattro's Game Farm &amp; Store</li>
        <li>Paffenroth Gardens</li>
        <li>Rogowski Farms</li>
        <li>Phillips Farms</li>
        <li>Los Paisanos Meat Market</li>
        <li>Udder Milk Creamery</li>
        <li>Union Market</li>
      </div>
    </div>
  </section>
</article>

</body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K269DB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K269DB');</script>
<!-- End Google Tag Manager -->
</html>